---
import { Folder, FolderOpen, File as FileIcon } from "@lucide/astro";

const { nodes } = Astro.props as { nodes: any[] };
---

{nodes.map((node) => (
  node.type === "folder" ? (
    <li>
      <button
        type="button"
        class="w-full text-left p-2 rounded-md text-xs font-mono flex items-center gap-2 hover:bg-muted"
        @click={`open['${node.path}']=!open['${node.path}']`}
        // :class={`open['${node.path}'] ? '' : 'hover:bg-muted'`}
      >
        <span x-show={`!open['${node.path}']`}><Folder class="size-4" /></span>
        <span x-show={`open['${node.path}']`}><FolderOpen class="size-4" /></span>
        {node.name}
      </button>
      <ul x-show={`open['${node.path}']`} class="pl-3 mt-1 space-y-1">
        <Astro.self nodes={node.children} />
      </ul>
    </li>
  ) : (
    <li>
      <button
        type="button"
        class="w-full text-left p-2 rounded-md text-xs font-mono flex items-center gap-2"
        @click={`active='${node.label}'`}
        :class={`active === '${node.label}' ? 'bg-muted-foreground/10 text-foreground' : 'hover:bg-muted'`}
      >
        <FileIcon class="size-4" />
        {node.name}
      </button>
    </li>
  )
))}


